$background-color: #211F20;
$background-images: "../../assets/images/noise_lines_transparent@2X.png";
$radial-background-color: #5B483A;
$button-primary-color: #F1CDB3;
$button-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-menu-normal:#CDCDCD;
$color-dark-3xl:#292929;
$color-dark-xl:#4C4C4C;
$color-dark-l:#545454;
$color-dark-s:#CDCDCD;
$card-background: #FAFAFA;
$color-dark-m:#B2B2B2;

@mixin buttons($button-background,$primary-color,$hover-color,$button-width : 207px){
    button{
        color: $color-dark-3xl;
        padding: 13px 0px;
        border: 2px solid $button-primary-color;
        box-sizing: border-box;
        border-radius: 100px;
        width: $button-width;
        background: $button-background;
        font-family: 'Georgia';
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        /* identical to box height, or 22px */
        letter-spacing: 0.06em;

    }
    button:hover{
        border: 2px solid $hover-color;
        background: $hover-color;
    }
}
@mixin button-arrow(){
        color: $color-dark-3xl;
        border: 2px solid $button-primary-color;
        border-radius: 100px;
        height: 52px;
        width: 52px;
        color: black;
        background: white;
        font-family: 'Georgia';
        line-height: 130%;
        &:hover{
            border: 2px solid $button-primary-light;
            background: $button-primary-light;
        }
    }
html{
    scroll-behavior: smooth;
}
 body{

    //  display: flex;
     flex-direction: column;
     align-content: center;
     margin: 0;
     
}
.wrapper{
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0px 40px;
    max-width: 1280px;
    height: 120px;
}
.navigation{
    scroll-behavior: smooth;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
}
.header-conteiner{
    box-sizing: border-box;
    position: relative;
    top: 30px;
}
.logo{
    display: flex;
    flex-direction: column;
        h1{
            margin: 0px 0px 10px 0px;
            text-align: justify;
            padding: 0%;
            // position: relative;
            color:$color-dark-xl;
            font-family: 'Georgia';
            font-weight: lighter;
            font-size: 31px;
            letter-spacing: 0.08em;
        }
    p{
        text-align: justify;
        margin:0%;
        padding:0%;
    }
    #logo-subscription{
        font-family: 'Arial';
        font-size: 13px;
        letter-spacing: 0.115em;
        color: $color-dark-3xl;

    }
    a:link, a:visited {
        text-decoration: none;
    }
}   
.navigation-list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    gap: 35px;
    align-items: center;
    a{
        font-family: 'Arial';
        font-size: 15px;
        padding: 5px 0px;
        color: $color-dark-l;
        letter-spacing: 0.005em;
    }
    a:link, a:visited {
        text-decoration: none;
    }
    a:hover{
        color:$color-dark-3xl
    }
    // a:focus{
        // border-bottom: solid 3px $button-primary-color;
        // position: relative;
        // top: 2px;
        // }
        .active-menu-item{
            position: relative;
            top: 2px;
            border-bottom: solid 3px $button-primary-color;
            color: $color-dark-3xl;
        }
    }
.our-friends-wrapper{
    min-width: fit-content;
    background: $color-light-l;
}
.our-friends{
    margin: 0px auto;
    max-width: 1280px;
    display: block;
}
.slider-wrapper{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    h3{
        font-family: 'Georgia';
        font-weight: 400;
        text-align: center;
        margin: 80px 0px 60px;
        font-size: 35px;
        line-height: 130%;
        color: $color-dark-l;
        letter-spacing: 0.06em; 
    }
    & > button{
        margin:60px;
    }
    @include buttons(white, white,$button-primary-light,261px);
}
.our-friends-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    align-content: center;
    div{
        margin: 0% auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap:10px;
        width: 270px;
        height: 435px;
        p{
            font-family: 'Georgia';
            font-weight: 400;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.07em;
            color:$color-dark-l;
        }
        &:hover{
            background: $card-background;
            button{
                background: $button-primary-light;
            }
        }
        @include buttons(white, white,$button-primary-light,187px)
    }
}
.button-bar {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 103px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 40px;
    gap:20px;
    button{
        margin:0;
        padding:0;
        align-self: center;
        position: relative;
        align-self: center;
        font-size: 20px;
        @include button-arrow();
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
        box-shadow: 0 4px 4px 0 white, 0 3px 5px 0 gray;
    }
    .left{
    color:$color-dark-s;
    border-color: $color-dark-s;
    pointer-events: none;
    }

}
footer{
    // min-width: fit-content;
    // display: flex;
    // justify-self: unset;
    margin: 0px auto;
    background:url($background-images), radial-gradient(100% 215% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}
.footer-conteiner{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 40px;
}
.flex-conteiner{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div{
        display: flex;
        justify-self: flex-start;
        flex-direction: column;
        gap:40px;

    }
    .footer-block-1{
        // height: 234px;
        width: 278px;
    }
    .footer-block-2{
        a{
            padding-left: 40px;
        }
        padding-left: 0px;
        // height: 234px;
        width: 302px;
    }
    h3{
        margin: 0%;
        margin-top: 16px;
        padding: 0;
        font-family: 'Georgia';
        font-size: 35px;
        font-weight: lighter;
        line-height: 130%;
        letter-spacing: 0.056em;
        color: $color-light;
    }
    a{
        margin: 0;
        display: flex;
        padding-left: 60px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 40px;
        height: 32px;
        font-family: "Georgia", serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;;
        color: #F1CDB3;
        &,&:hover,&:visited{
        text-decoration: none;
        }
    }
    
    #mail{
        background: url(../../assets/icons/icon-email.svg) no-repeat;
    }
    #tel{
        background: url(../../assets/icons/icon-phone.svg) no-repeat;
    }
    #geo-base-1{
        background: url(../../assets/icons/icon-marker.svg) no-repeat;
    }
    #geo-base-2{
        background: url(../../assets/icons/icon-marker.svg) no-repeat;
    }
}