$background-color: #211F20;
$background-images: "../../assets/images/noise_lines_transparent@2X.png";
@mixin start-screen-gradient-background(){
    background:url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}
@mixin header-gradient-background(){
    background:url("../../assets/images/noise_lines_transparent@2X.png"), left top/100% 908px radial-gradient(ellipse 50% 50% at 0 0, rgb(91 72 58), rgb(38 36 37));;
}
@mixin footer-gradient-backcolor(){
    background:url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}
$radial-background-color: #5B483A;
$primary-color: #F1CDB3;
$primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-menu-normal:#CDCDCD;
$color-dark-s:#CDCDCD;
$color-dark-2s: #C4C4C4;
$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;
$card-background: #FAFAFA;

$content_width: 1280px;
$tablet_width: 768px;
$mobile_width: 320px;
$mobile_menu_375: 375px;

