@mixin font($font:"Georgia",$size:1rem,$style:normal,$line-height:130%,$weight:400) {
    font-family: $font;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $line-height;
}
@mixin tablet-view{
    @media screen and (max-width: $tablet-width){@content; }
}
@mixin padding-view{
    @media screen and (max-width: $small-padding-width){@content; }
}
@mixin desktop-view{
    @media screen and (max-width: $content-width){@content; }
}
@mixin mobile-view{
    @media screen and (max-width: $mobile-width){@content; }
}
@mixin mobile-375-view{
    @media screen and (max-width: $mobile-menu-375-width){@content; }
}
@mixin manual-view($manual-width:$tablet-width){
    @media screen and (max-width: $manual-width){@content; }   
}