@mixin font($font:"Georgia",$size:1rem,$style:normal,$line-height:130%,$weight:400) {
    font-family: $font;
    font-size: $size;
    font-style: $style;
    font-weight: $weight;
    line-height: $line-height;
}