body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.background-top {
  min-width: 100%;
  margin: 0px auto;
  background: url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(100% 215% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.logo {
  display: block;
  position: absolute;
  margin-top: 0%;
  height: 60px;
  top: 60px;
  left: 0%;
}
.logo a {
  margin: 0px 0px 0px 0px;
  padding: 0%;
}
.logo a h1 {
  margin: 0px 0px 10px 0px;
  text-align: justify;
  padding: 0%;
  position: relative;
  color: #F1CDB3;
  font-family: "Georgia";
  font-weight: lighter;
  font-size: 31px;
  letter-spacing: 0.08em;
}
.logo p {
  display: block;
  text-align: justify;
  margin: 0%;
  padding: 0%;
}
.logo #logo-subscription {
  position: relative;
  font-family: "Arial";
  font-size: 13px;
  letter-spacing: 0.12em;
  color: #FFFFFF;
}
.logo a:link, .logo a:visited {
  text-decoration: none;
}

header {
  position: relative;
  top: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  width: 100%;
}
header a {
  font-family: "Arial";
  font-size: 15px;
  padding: 5px 0px;
  color: #CDCDCD;
  margin-left: 35px;
}
header a:link, header a:visited {
  text-decoration: none;
}
header a:hover {
  color: #FAFAFA;
}
header a:focus {
  border-bottom: solid 3px #F1CDB3;
  position: relative;
  top: 2px;
}
header .first-menu-item {
  align-self: center;
  position: relative;
  top: 2px;
  border-bottom: solid 3px #F1CDB3;
}

.wrapper {
  position: relative;
  margin: 0px 40px;
  max-width: 1360px;
  height: 908px;
}
.wrapper .about-the-shelter {
  display: flex;
  position: relative;
  top: 120px;
  justify-content: space-between;
}
.wrapper .about-the-shelter .not-only-people {
  align-self: center;
  display: flex;
  position: relative;
  bottom: 40px;
  justify-content: space-between;
  flex-direction: column;
  height: 320px;
  width: 460px;
}
.wrapper .about-the-shelter .not-only-people .Heading2 {
  display: block;
  width: 310px;
  height: 114px;
  /* font-h2 */
  font-family: "Georgia";
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
  align-items: center;
  /* color-light-xl */
  color: #FFFFFF;
  margin: 0%;
}
.wrapper .about-the-shelter .not-only-people p {
  font-family: "Arial";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* or 24px */
  align-items: center;
  color: #CDCDCD;
  text-align: justify;
  margin: 0px 0px 0px 0px;
}
.wrapper .about-the-shelter .not-only-people button {
  color: #292929;
  padding: 13px 0px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 207px;
  background: #F1CDB3;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
}
.wrapper .about-the-shelter .not-only-people button:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}
.wrapper .about-the-shelter .start-screen-puppy {
  padding: 0px 0px 0px 0px;
}

#about {
  width: 100%;
  height: 588px;
}
#about .about-wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  background: white;
  gap: 120px;
  margin: 80px 0px 100px 0px;
}
#about .about-wrapper img {
  align-self: center;
  margin-left: 215px;
  height: 408px;
  width: 300px;
}
#about .about-wrapper div {
  align-self: center;
  width: 430px;
  height: 380px;
}
#about .about-wrapper div h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  margin: 0%;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}
#about .about-wrapper div p {
  font-family: "Arial";
  font-weight: 400;
  text-align: left;
  margin: 22px 0px;
  font-size: 15px;
  line-height: 165%;
  color: #4C4C4C;
}

.our-friends-wrapper {
  min-width: fit-content;
  background: #F6F6F6;
}
.our-friends-wrapper .our-friends {
  margin: 0px 0px;
  max-width: 1280px;
  display: block;
  height: 877px;
}
.our-friends-wrapper .our-friends .slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 697px;
}
.our-friends-wrapper .our-friends .slider-wrapper h3 {
  font-family: "Georgia";
  font-weight: 400;
  text-align: center;
  margin: 80px 0px 60px;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 90px;
  align-content: center;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider .button-arrow-left {
  align-self: center;
  position: relative;
  left: 40px;
  justify-self: start;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  height: 52px;
  width: 52px;
  font-size: 0px;
  background: white;
  font-family: "Georgia";
  line-height: 130%;
  box-shadow: 0 4px 4px 0 white, 0 3px 5px 0 gray;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider .button-arrow-left:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider div {
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 270px;
  height: 435px;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider div p {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.07em;
  color: #545454;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider div:hover {
  background: #FAFAFA;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider div:hover button {
  background: #FDDCC4;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider div button {
  color: #292929;
  padding: 13px 0px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 187px;
  background: white;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider div button:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider .button-arrow-right {
  align-self: center;
  position: relative;
  right: 40px;
  align-self: center;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  height: 52px;
  width: 52px;
  font-size: 0px;
  background: white;
  font-family: "Georgia";
  line-height: 130%;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  box-shadow: 0 4px 4px 0 white, 0 3px 5px 0 gray;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider .button-arrow-right:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}
.our-friends-wrapper .our-friends .slider-wrapper .our-friends-slider .button-arrow-right img {
  transform: rotate(180deg);
}
.our-friends-wrapper .our-friends .slider-wrapper > button {
  margin: 60px;
}
.our-friends-wrapper .our-friends .slider-wrapper button {
  color: #292929;
  padding: 13px 0px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 261px;
  background: white;
  font-family: "Georgia";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
}
.our-friends-wrapper .our-friends .slider-wrapper button:hover {
  border: 2px solid #FDDCC4;
  background: #FDDCC4;
}

#helping-wrapper h3 {
  font-family: "Georgia";
  font-weight: 400;
  text-align: center;
  margin: 80px 0px 60px;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}
#helping-wrapper .helping-window {
  box-sizing: border-box;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}
#helping-wrapper .helping-window .helping-methods {
  padding: 0px 87px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 55px 119px;
}
#helping-wrapper .helping-window .helping-methods .methods {
  display: block;
  height: 113px;
  text-align: center;
}
#helping-wrapper .helping-window .helping-methods .methods p {
  font-family: "Georgia";
  margin: 25px 0 0 0;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
}

/*# sourceMappingURL=style.css.map */
