$background-color: #211F20;
$background-images: "../../assets/images/noise_lines_transparent@2X.png";
$radial-background-color: #5B483A;
$button-primary-color: #F1CDB3;
$button-primary-light: #FDDCC4;
$color-light: #FFFFFF;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-menu-normal:#CDCDCD;
$color-dark-3xl:#292929;
$color-dark-xl:#4C4C4C;
$color-dark-l:#545454;
$color-dark-s:#CDCDCD;
$card-background: #FAFAFA;
$color-dark-m:#B2B2B2;

@mixin buttons($button-background,$primary-color,$hover-color,$button-width : 207px){
    button{
        color: $color-dark-3xl;
        padding: 13px 0px;
        border: 2px solid $button-primary-color;
        box-sizing: border-box;
        border-radius: 100px;
        width: $button-width;
        background: $button-background;
        font-family: 'Georgia';
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        /* identical to box height, or 22px */
        letter-spacing: 0.06em;

    }
    button:hover{
        transition: 0.5s;
        border: 2px solid $hover-color;
        background: $hover-color;
    }
}
@mixin button-arrow(){
        color: $color-dark-3xl;
        border: 2px solid $button-primary-color;
        
        border-radius: 100px;
        height: 52px;
        width: 52px;
        font-size: 0px;
        background: white;
        font-family: 'Georgia';
        line-height: 130%;
        &:hover{
            transition: 0.5s;
            border: 2px solid $button-primary-light;
            background: $button-primary-light;
        }
    }
 @mixin font-logo-subscription() {
     font-family: 'Arial';
     font-size: 13px;
     letter-spacing: 0.115em;
     color: $color-light;
 }   
 @mixin font-logo() {
    font-family: 'Georgia';
    font-weight: lighter;
    font-size: 31px;
    letter-spacing: 0.08em;
 }   
 @mixin font-menu {
    font-family: 'Arial';
    font-size: 15px;
    padding: 5px 0px;
    color: $color-menu-normal;
    letter-spacing: 0.005em;
 }
 @mixin font-h2 {
    /* font-h2 */
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    align-items: center;
    /* color-light-xl */
    color: $color-light;
 }
 @mixin paragraph-l {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    align-items: center;
    color: $color-dark-s;
 }
 *{
     margin:0;
     box-sizing: border-box;
     
 }
 html{
    scroll-behavior: smooth;
 }
 body{
     display: flex;
     flex-direction: column;
     align-content: center;
     margin: 0;
     padding: 0%;
}
.background-top {

    min-width: fit-content;
    min-height: fit-content;
    background:url($background-images), radial-gradient(100% 215% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
    background-position: center;
    // background-size: cover;
    // background-repeat: repeat-y;
}
.wrapper{
    box-sizing: border-box;
    margin: 0px auto;
    position: relative;
    max-width: 1280px;
    padding: 0 40px;
    height: 908px;
}
.navigation{
    margin: 0px auto;
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    // align-content: center;
}
.header-conteiner{
    padding-top: 60px;

}
.logo{
    display: flex;
    flex-direction: column;
        h1{
            margin: 0px 0px 10px 0px;
            text-align: justify;
            padding: 0%;
            // position: relative;
            color: $button-primary-color;
            @include font-logo;
        }
    p{
        text-align: justify;
        margin:0%;
        padding:0%;
    }
    #logo-subscription{
        @include font-logo-subscription;
    }
    a:link, a:visited {
        text-decoration: none;
    }
}   
.navigation-list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    gap: 35px;
    align-items: center;
    a{
        @include font-menu;
    }
    a:link, a:visited {
        text-decoration: none;
    }
    a:hover{
        color:$color-light-s
    }
    a:focus{
        border-bottom: solid 3px $button-primary-color;
        position: relative;
        // top: 2px;
    }
    .first-menu-item{
        position: relative;
        top: 2px;
        border-bottom: solid 3px $button-primary-color;
    }
}
.about-the-shelter{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .not-only-people{
        align-self: center;
        display: flex;
        position: relative;
        bottom: 40px;
        justify-content: space-between;
        flex-direction: column;
        height: 320px;
        width: 460px;
        .Heading2{
            display: block;
            width: 310px;
            height: 114px;
            @include font-h2;
            margin: 0%;
        }
        p{
            @include paragraph-l();
            text-align: justify;
            margin: 0px 0px 0px 0px;
        }    
        @include buttons($button-primary-color, $button-primary-light, $button-primary-light);
    }
    .start-screen-puppy{
        padding: 0px 0px 0px 0px;
    }
}
.about{
    .about-wrapper{
        max-width: 1280px;
        display: flex;
        background: white;
        gap: 120px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 100px;
        img{
            align-self: center;
            margin-left: 215px;
            height: 408px;
        }
        div{
            align-self: center;
            width: 430px;
            height: 380px;
            overflow: hidden;
            h3{
                font-family: 'Georgia';
                font-style: normal;
                font-weight: 400;
                margin: 0%;
                font-size: 35px;
                line-height: 130%;
                color: $color-dark-l;
                letter-spacing: 0.06em;
            }
            p{
                font-family: 'Arial';
                font-weight: 400;
                text-align: left;
                margin:  22px 0px;
                font-size: 15px;
                line-height: 165%;
                color:$color-dark-xl;
            }
        }
    }
}
.our-friends-wrapper{
    background: $color-light-l;
    .our-friends{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap:80;
        margin: 0px auto;
        max-width: 1280px;
        .slider-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 57px;
            margin-top: 82px;
            margin-bottom: 100px;
            h3{
                font-family: 'Georgia';
                font-weight: 400;
                text-align: center;
                font-size: 35px;
                line-height: 130%;
                color: $color-dark-l;
                letter-spacing: 0.06em; 
            }
            .our-friends-slider{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 90px;
                align-content: center;
                .button-arrow-left{
                    align-self: center;
                    position: relative;
                    left: 40px;
                    justify-self: start;
                    @include button-arrow();
                    box-shadow: 0 4px 4px 0 white, 0 3px 5px 0 gray;
                }
                .pets-cards{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;
                    margin-bottom: 30px;
                    p{
                        font-family: 'Georgia';
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 23px;
                        letter-spacing: 0.07em;
                        color:$color-dark-l;
                    }
                    &:hover{
                        transition: 0.5s;
                        background:$color-light;
                        button{
                            transition: 0.5s;
                            background: $button-primary-light;
                        }
                    }
                    @include buttons(white, white,$button-primary-light,187px)
                    
                }
                .button-arrow-right{
                    align-self: center;
                    position: relative;
                    right: 40px;
                    align-self: center;
                    @include button-arrow();
                    img{
                        transform: rotate(180deg);
                    }
                    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
                    box-shadow: 0 4px 4px 0 white, 0 3px 5px 0 gray;
                }
            }
            & > button{
                margin:60px;
            }

        }
        a{
            // display: block;
            // margin-top: 60px;   
            @include buttons(white, white,$button-primary-light,261px)
        }
    }
}
.helping-wrapper{

    h3{
        font-family: "Georgia";
        text-align: center;
        /* margin: 80px 0px 60px; */
        font-size: 35px;
        line-height: 130%;
        color: rgb(84 84 84);
    }
    .helping-window{
        box-sizing: border-box;
        max-width: 1280px;
        margin: 80px auto 147px auto;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        .helping-methods{
            padding: 0px 87px;
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            gap: 55px 119px;
            .methods{
                display: block;
                height: 113px;
                text-align: center;
                p{
                    font-family: "Georgia";
                    margin: 21px 0 0 0;
                    font-size: 20px;
                    letter-spacing: 0.06em;
                    color: rgb(84 84 84);
                }
            }
        }
    }

}
.donation{
    background: $color-light-l;
    margin: 0 auto;
}
.donation-conteiner{
    margin: 30px auto 100px auto;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.credit-card{
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 19px;

    h3{
        font-family: 'Georgia';
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        color: $color-dark-l;
        letter-spacing: 0.06em; 
    }
    h5{
        font-weight: 100;
        font-family: 'Georgia';
        font-size: 15px;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    .href{
        width: 349px;
        padding: 10px 15px 10px 0;
        border-radius: 9px;
        background: url(../../assets/icons/credit-card.svg)  no-repeat;
        background-position: 15px;
        text-align: right;
        font-family: 'Georgia';
        font-size: 20px;
        letter-spacing: 0.06em;
        color:$color-dark-l;
        background-color: $button-primary-color;
        &:hover{
            background-color:$button-primary-light ;
            border-color: $button-primary-light ;
        }
        a,a:hover,a:visited{
            text-decoration: none;
            color: $color-dark-l;
        }

    }
    p{
        font-family: 'Arial';
        font-style: italic;
        font-size: 12px;
        line-height: 18px;
        color: $color-dark-m;
    }
}
footer{
    background:url($background-images), radial-gradient(100% 215% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;
}
.footer-conteiner{
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 1280px;
    padding: 0 40px;
}
.flex-conteiner{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div{
        display: flex;
        justify-self: flex-start;
        flex-direction: column;
        gap:40px;

    }
    .footer-block-1{
        // height: 234px;
        width: 278px;
    }
    .footer-block-2{
        a{
            padding-left: 40px;
        }
        padding-left: 0px;
        // height: 234px;
        width: 302px;
    }
    h3{
        margin: 0%;
        margin-top: 16px;
        padding: 0;
        font-family: 'Georgia';
        font-size: 35px;
        font-weight: lighter;
        line-height: 130%;
        letter-spacing: 0.056em;
        color: $color-light;
    }
    a{
        margin: 0;
        display: flex;
        padding-left: 60px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 40px;
        height: 32px;
        font-family: "Georgia", serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;;
        color: #F1CDB3;
        &,&:hover,&:visited{
        text-decoration: none;
        }
    }
    
}
#mail{
    background: url(../../assets/icons/icon-email.svg) no-repeat;
}
#tel{
    background: url(../../assets/icons/icon-phone.svg) no-repeat;
}
#geo-base-1{
    background: url(../../assets/icons/icon-marker.svg) no-repeat;
}
#geo-base-2{
    background: url(../../assets/icons/icon-marker.svg) no-repeat;
}