.donation-conteiner{
    background: $color-light-l;
}
    
.donation-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
    padding-bottom: 100px;
    @include desktop-view{
        flex-direction: column-reverse;
        
        padding-bottom: 95px;
        gap:61px;
    }
    @include tablet-view{
        padding-top: 41px;
        gap: 39px;
        padding-bottom: 40px;
        
    }
}

.credit-container{
    @include tablet-view{
        margin: 0 auto;
        max-width: 100%;
    }
    padding: 1px;
}
.credit-card{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    gap: 20px;
    @include tablet-view{
        gap:23.5px;
        h5{
            text-align: center;
            letter-spacing: 0.01em;
        }
    }
}

.donation-puppy{
    @include desktop-view{
    padding: 0px 20px;
    }
    @include tablet-view{
        img{
            width: 100%;
        }

    }
}
