.donation-conteiner{
    background: $color-light-l;
}
    
.donation-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
    padding-bottom: 100px;
}

.credit-card{
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 20px;
}

