.header-conteiner{
    background:url("../../assets/images/noise_lines_transparent@2X.png"), left top/100% 908px radial-gradient(ellipse 50% 50% at 0 0, rgb(91 72 58), rgb(38 36 37));;
}
.navigation{
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
}
.header-conteiner{
    padding-top: 60px;
    @include padding-view{
        padding-top: 30px;
    }
    
}
.burger-container{
    align-self: center;
    flex-grow: 0.5;
    display: none;
    @include tablet-view{
        display: block;
    }
}
.logo{
    display: flex;
    flex-direction: column;
    p{
        margin:10px 0 0 4px;
    }
}
.navigation-list{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    position: relative;
    right: 2px;
    gap: 35px;
    align-items: center;
    @include tablet-view{
        display: none;
    }
}



.menu-item {
    color: $color-dark-s;
    &:hover{
        color:$color-light-s
    }
    &:focus{
        border-bottom: solid 3px $primary-color;
        position: relative;
        // top: 2px;
    }
}
.item_colored{
   position: relative;
   padding-bottom: 5px;
   border-bottom: solid 3px $primary-color;
}