.our-friends-conteiner{
    background: $color-light-l;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap:80;
}
.our-friends-wrapper{
    width:100%;
}
.slider-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
    margin-bottom: 100px;
    @include manual-view(500px){
        flex-direction: column;
        margin-top: 42px;
        margin-bottom: 44px;
        gap: 42px;
    }
}
.our-friends-slider{
    display: flex;
    gap: 90px;
    align-content: center;
    @include desktop-view{
        gap:40px
    }
}

.slider-conteiner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include manual-view(500px){
        flex-direction: column;
        gap:18px;
    }
}
.button-arrow-nav{
    @include manual-view(500px){
        display: flex;
        gap: 80px;
    }
}


