//Here is icons for the footer Contacts

#mail{
    background: url(../../assets/icons/icon-email.svg) no-repeat;
}
#tel{
    background: url(../../assets/icons/icon-phone.svg) no-repeat;
    @include manual-view(500px){

        // background-position: 3px;
    }
}
#geo-base-1{
    background: url(../../assets/icons/icon-marker.svg) no-repeat;
}
#geo-base-2{
    background: url(../../assets/icons/icon-marker.svg) no-repeat;
}