
.pets-header-conteiner {
    height: 120px;
    padding: 0;
}
.pets-navigation{
    position: relative;
    top: 31px;
    margin-bottom: 8px;
    margin-right: 2px;
    gap: 35px;
    @include tablet-view{
        gap: 0px;
    }
}
.logo, .pets-logo-subscription, .pets-menu-item {
    color:$color-dark-l;
}
.pets-menu-item:hover{
    color: $color-dark-3xl;
}
.pets-header-conteiner{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 1;
}