main{
    position: relative;
    top: 120px;
}

.pets-our-friends-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    align-content: center;
}
.button-bar {
    display: flex;
    gap: 20px;
    @include desktop-view{
        position: relative;
        top:10px;
    }
    @include tablet-view{
        gap:10px;
        position: relative;
        top: -4px;
    }
}
.pets-slider-wrapper{
    gap:60px;
    @include desktop-view{
        gap:31px;
        margin-bottom: 84px;
    }
    @include tablet-view{
        gap:44px;
        margin-bottom: 38px;
        
    }
}
.slider-conteiner{
    @include tablet-view{
        padding: 0 11%;
    }
    @include desktop-view{
        padding: 0 10px;
    }

}